*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $poke-font-family-primary;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

#app {
    height: 100%;
}

a {
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.aplication-wrap {
    display: grid;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}