$layout-breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1532px
);

@mixin media-breakpoint-up($name, $breakpoints: $layout-breakpoints) {
    $min: map-get($breakpoints, $name);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }
    @else {
        @content;
    }
};

@mixin media-breakpoint-down($name, $breakpoints: $layout-breakpoints) {
    $max: map-get($breakpoints, $name);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }
    @else {
        @content;
    }
};