//**-----legends-----**//
//pc = PRIMARY COLOR
//ac = ALTERNATIVE COLORS
//gv = GRAY VARIATION

$pc-dark: #C00E20;
$pc-regular: #F22539;

$gv-darker: #353535;
$gv-dark: #5E5E5E;
$gv-regular: #BFBFBF;
$gv-light: #E8E8E8;
$gv-lighter: #F5F5F5;
$gv-lightest: #F9F9F9;

$ac-yellow: #ECA539;