.aplication-wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.poke-container {
    // @include make-container-min-widths();
    --padding: 60px;
    max-width: calc(570px + var(--padding));
    margin: 0 auto;
    padding-left: calc(var(--padding) / 2);
    padding-right: calc(var(--padding) / 2);
}